nav {
    z-index: 999!important;
    position: fixed;
    transition: 0.4s
}

.navbar-fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 20px;
    
    animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
}




.nav-trigger {
    position: absolute;
    top: 0px;
}

.navbar-brand{
    font-family: 'Work Sans', sans-serif;
    font-size: 250%;
    font-weight: 100;
    padding: 0;
    margin-right: 40px;
}

.nav-item{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    padding: 0px 10px 0px 10px;
    line-height: 50px;
    font-weight: 300;
}
.nav-item.active{
    font-weight: 500;
}



.navbar-nav>li>a:hover {
  background-color: #8a8a8a;
transition: all 0.3s ease;
     
}

.box {
    width: 100%;
    height: 100%;
 

}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: max-content;
    color: lightgrey;
    font-family: 'Work Sans', sans-serif;
    vertical-align: middle;
    padding-top: 20px;
    position: fixed;
    padding: 10px;
    top: 66px;
}

div.tab-hidden {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: max-content;
    color: lightgrey;
    font-family: 'Work Sans', sans-serif;
    vertical-align: middle;
    padding-top: 20px;
    visibility: hidden;
    padding: 10px;
}




/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #B2DFDB;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    font-weight: bold;
    
    background-color: #e5e5e5;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 150%;
    transition: all 0.5s ease;
    padding: 30px;
    border-bottom: none;
    text-align: center;
    padding-top: 66px;

}

h5{
    color: black;
    font-size: 24pt;
    font-weight: 600; 
}

.tabcontent h3 {
    font-size: 400%;
    text-align: center;
    font-weight: 100;
     font-family: 'Work Sans', sans-serif;

}

.tabcontent h2 {
    font-size: 300%;
    
    font-weight: 500;
    color: #00BFA5; font-family: 'Work Sans', sans-serif;

}
.tabcontent h1 {
    font-family: 'Work Sans', sans-serif;
}


.navbar-brand{
    font-family: 'Work Sans', sans-serif;
    font-size: 250%;
    font-weight: 100;
    padding: 0;
    margin-right: 40px;
}

.nav-item{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    padding: 0px 10px 0px 10px;
    line-height: 50px;
    font-weight: 300;
}
.nav-item.active{
    font-weight: 500;
}



.navbar-nav>li>a:hover {
  background-color: #8a8a8a;
transition: all 0.5s ease;
    
  
}

.navbar{
      padding-top: 0px;
    padding-bottom: 0px;
}


.stat h6{
    display: block;
    font-size: 16pt;
    margin: 0;
    margin-bottom: -10px;
    text-transform: uppercase;

    color: #777777;
}

.stat h3{
    display: block;
    font-size: 48pt;
    color: #00BFA5;
    font-weight: 200;

    padding-bottom: 15px;
}

.carousel.slide {
    width: 60%;
    margin: 0 auto;
    padding-top: 25px;
}

.intro {
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
    width: 75%;
    margin: 0 auto;
}


.left {
    width: 45%;
    margin: 0;
    display: inline-block;
}


.right {
    width: 45%;
    margin: 0;
    display: inline-block;
}

.news {
    font-family: 'Open Sans', sans-serif;
    color: black;
}


hr {
    width: 80%;
}
.news{
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

.news img{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}


.title-news {
    font-size: 300%;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    text-align: center;

}

.title-news hr {
    width: 80%;
}

.news h3 {
    padding-top: 15px;
    font-size: 100%;

}
.news p{
    font-weight: 300;
}

.news a{
    font-weight: 400;
}
.news h6 {
    width: 75%;
    margin: 0 auto;
}

.news h3 a{
    width: 60%;
    margin: 0 auto;
    color: black;
}

.news h7{
    text-align: left;
    font-size: 14pt;

}



.news a:hover {
    color: #00BFA5;
}

