nav {
    z-index: 11;
    position: fixed;
    transition: 0.4s;
    top: -66px;
}

.navbar-fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 20px;
    
    animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
}

.nav-trigger {
    position: absolute;
    top: 0px;
}

.navbar-brand{
    font-family: 'Work Sans', sans-serif;
    font-size: 250%;
    font-weight: 100;
    padding: 0;
    margin-right: 40px;
}

.nav-item{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    padding: 0px 10px 0px 10px;
    line-height: 50px;
    font-weight: 300;
}
.nav-item.active{
    font-weight: 500;
}



.navbar-nav>li>a:hover {
  background-color: #8a8a8a;
transition: all 0.3s ease;
    
  
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.4s all;
    top: -66px;
}



.box:before {
	width: 101%;
  height: 101%;

    content: "";

    left: -5px;
    top:-5px;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("static/backgroundsmall.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    filter:blur(5px);
    -webkit-filter: blur(5px);

    position: fixed;

}





.box {

    background-size: cover;
    display: block;
    text-align: center;
    align-items: center;
    min-height: 500px;
}

.title-box {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 12vmax;
    color: white;
    margin: 0 auto;
    display: block;

}

.intro {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    color: white;
    margin: 0 auto;
/*    padding-bottom: 25px;*/
    display: block;
    visibility: hidden;
}

.about-box{
    padding: 10px;
    margin: 0 auto;
    background: white;


}

.about-title{
    font-size: 6vw;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    visibility: hidden;
}

hr {
    width: 60%;
    margin-top: 50px;
    display: block;
    border: solid 0.5px black;
    
}


.selection-block {
    display: block;	
}


.card {
    text-decoration: none!important;
    vertical-align: top;
    align-items: center;
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 25px;
    margin-top: 50px;
    background-color: rgba(3, 3, 3, 0.3);
    transition: all .2s;
}

.card:hover {
    background-color: rgba(20, 20, 20, 0.8);
    border: 2px solid white;
}

.card-image {
    height: 200px;
    width: 200px;
    padding: 25px;
}

.card-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    padding-top: 15px;
    font-size: 200%;
    color: white;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 150px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 125%;
    color: white;
}
.info-title{
     font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 3vw;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    font-size: 6vmax;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    width: 80%;
}

.fadeintitle {
    animation-name: slideUpSmall;
    -webkit-animation-name: slideUpSmall;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 12vmax;
    color: white;
    display: block;
}

.fadeinintro {
    animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    color: white;
    margin: 0 auto;
    /*padding-bottom: 25px;*/
    display: block;
}

.about-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2vw;

    margin: 0 auto;

    width: 80%;
    /*visibility: hidden;*/

}

.about-slogan{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 3vw;
     visibility: hidden;
}



.about-pic {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.about-pic2 {
    width: 20%;
    height: auto;
    display: inline-block;
}


.title_break {
    visibility: hidden;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 8vmax;
    color: white;
    display: block;
}

.abt-break-intro {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    color: white;
    margin: 0 auto;
    display: block;
    visibility: hidden;
    padding-bottom: 50px;
}

.abt-break-intro-fade {
    animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    color: white;
    margin: 0 auto;
    padding-bottom: 50px;
    display: block;
}

.title_break_fade {
    animation-name: slideUpSmall;
    -webkit-animation-name: slideUpSmall;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 8vmax;
    color: white;
    display: block;
}

.slogan {
    visibility: hidden;
}

.slogan2 {
    visibility: hidden;
}

.slogan_fade {
    animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
     font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 3vw;
    color: #00BFA5
}

.disaster_news {
    width: 100%;
    display: inline-block;
    padding-top: 25px;
}

.news_side_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5vw;
    width: 60%;
    margin-right: 5%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
}


@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes slideUpSmall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}




